@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea {
    font: 12px arial,"微软雅黑";
}
img{
    vertical-align: middle;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
b,h1,h2,h3,h4,h5,h6,em,i{
    font-size: 12px;
    font-style:normal; 
    font-weight:normal;
}
.wrapbox{
    width: 1200px;
    margin: 0 auto;
}
i{
    background-image: url(../img/ui.png);
}

@mixin pub($w,$h){
    width: $w;
    height: $h;
}
/*顶部广告*/
    .advert {
      background: #c3799a;
      width: 100%;
    }
    .advert div {
      height: 80px;
      position: relative;
    }
    .close{
        @include pub(12px,12px);
        position: absolute;
        top: 3px;
        right: 3px;
        display: block;
        padding: 6px;
    }
    .close i{
        display: block;
        @include pub(12px,12px);
        background-position:-60px -466px;
    }
    .close:hover i{
        background-position: -72px -466px;
    }
    .close:hover{
        background: #000;
        opacity: 0.5;
    }
    
/*top*/
    .top-wrap{
        width: 100%;
        position: relative;
        border-bottom: 1px solid #f3f3f3;
        background: #f8f8f8;
        height: 30px;
        .top{
            text-align: center;
            height: 31px;
        }
    }
    
    .top li{
        float: left;
        height: 29px;
        line-height: 29px;
        margin: 0 10px;
        border-top: 1px solid #f8f8f8;
    }
    .top ul li>a{
        color: #5e5e5e;
    }
    .top ul li b{
        color: #f5004b;
    }
    
    #dropdown{
        border: 1px solid #e6e6e6;
        border-top: none;
        z-index: 30;
        position: absolute;
        font-size: 12px;    
        background: #fff;
        @include pub(330px,auto);
        display: none;
        left: -1px;
    }
    .public-dropdown{
        @include pub(310px,56px);
        margin: 0 auto;
        padding: 20px 0px 10px 0px;
    }
    .public-dropdown i{
        display: inline-block;
        width: 55px;
        float: left;
        height: 55px;
        border-radius:50% ;
        background-image: url(../img/ui.png);
        background-position:0 -337px;
        
    }
    .public-dropdown p{
        padding-top: 20px;
        width: 235px;
        height: 36px;
        line-height: 20px;
    }
    .public-drop{
        border-top: 1px solid #f3f3f3;
        padding-top: 5px;
        position: relative;
        width: 310px;
        margin: 0 auto;
        p{
            line-height: 40px;
            float: left;
            margin-left: 10px;
            a{
                color: #006699;
            }
        }
        b{
            line-height: 40px;
            float: right;
            margin-right: 18px;
            a{
                height: 18px;
                color: rgb(204,204,204);
            }
            a:hover{
                color: #f5004b;
            }
        }
        .p-d-prev{
            display: block;
            position: absolute;
            left: 0;
            bottom: 30px;
            @include pub( 18px,36px );
            background: url(../img/ui.png) -58px -356px;
        }
        .p-d-prev:hover{
            background-position-y: -513px;
        }
        .p-d-next:hover{
            background-position-y: -513px;
        }
        .p-d-next{
            position: absolute;
            right: 0;
            bottom: 30px;
            display: block;
            @include pub( 18px,36px );
            background: url(../img/ui.png) -76px -357px;
        }
        div{
            @include pub(240px,90px);
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            ul{
                position: absolute;
                @include pub(720px,90px);
               li{
                    @include pub(80px,90px);
                    margin: 0;
                    a{
                        color: rgb(219,208,204);
                        @include pub(80px,70px);
                        display: block;
                        i{
                            color: rgb(204,204,204);
                            margin-top: 10px;
                            margin-bottom: 5px;
                            display: block;
                            font-size: 40px;
                        }
                        i:hover{
                            color: rgb(165,165,165);
                        }
                    }
               }
            }
        }
    }
        
    .top-l{
        position: relative;
        width: 90px;
    }
    .top-l>i{
        position: absolute;
        top: 12px;
        right: 5px;
        background-position: -62px -433px;
        @include pub(7px,4px);
        overflow: hidden;
    }
    .top-l:hover{
        width: 88px;
        height: 55px;
        background: #fff;
        border: 1px solid #e6e6e6;
        border-bottom:none;
        #dropdown{
            display: block;
        }
    }
    .top-l:hover>a{
        color: #f5004b;
    }
    .top-l:hover>i{
        background-position: -55px -433px;
    }
    .top ol{
        
        text-align: left;
        padding: 0;
        float: right;
        li{
            width: 80px;
            position: relative;
            a{
                margin-left: 10px;
            }
        }
        li:hover{
            i{
                background-position: -55px -433px;
            }
            a{
                color: #f70073;
            }
            z-index: 10;
            
        }
        i{
            right: 8px;
            position: absolute;
            top: 12px;
            @include pub(7px,4px);
            overflow: hidden;
            background: url(../img/ui.png);
            background-position: -62px -433px;
            
        }
        .top-o-3{
            position: relative;
            height: 30px;
            div{
                top: 30px;
                position: absolute;
                right: 0;
                display: inline-block;
                height: 200px;
                width: 200px;
                background:pink url(../img/ui.png);
                background-position: 0 -1511px;
                display: none;
            }
        }
        .top-o-3:hover{
            width: 78px;
            border: 1px solid #e6e6e6;
            border-bottom: none;
            background: #fff;
            div{
                border: 1px solid #e6e6e6;
                display: block;
            }
            
        }
        .top-o-2{
            position: relative;
            div{
                top: 30px;
                display: inline-block;
                height: 200px;
                width: 200px;
                display: none;
                background: #fff;
            }
            height: 30px;
        }
        .top-o-2:hover{
            width: 78px;
            border: 1px solid #e6e6e6;
            border-bottom: none;
            background: #fff;
            div{
                border: 1px solid #e6e6e6;
                display: block;
            }
            
        }
        .top-o-4{
            
            div{
                z-index: 999;
                position: absolute;
                right: -100px;
                top: 30px;
                height: 200px;
                width:1198px;
                display: none;
                background: #fff;
            }
        }
        .top-o-4:hover{
            width: 78px;
            border: 1px solid #e6e6e6;
            border-bottom: none;
            background: #fff;
            div{

                border: 1px solid #e6e6e6;
                display: block;
            }
            
        }
        .top-3{
            position: relative;
            div{
                position:absolute;
                right: 0;
                top: 30px;
                display: inline-block;
                height: 200px;
                width: 200px;
                display: none;
                background: #fff;
                div{
                    @include pub(130px,170px);
                    background:url(../img/ui.png) 0 -799px;
                    position: absolute;
                    left: 50%;
                    margin-left: -65px;
                    top: 15px;
                }
            }
        }
        .top-3:hover{
            width: 78px;
            border: 1px solid #e6e6e6;
            border-bottom: none;
            background: #fff;
            div{
                border: 1px solid #e6e6e6;
                display: block;
                div{
                    border: none;
                }
            }
        }
    }

/*搜索*/
.search-wrap{
    width: 100%;
}
.search{
    height: 120px;
    position: relative;
}
.logo{
    float: left;
    @include pub(125px,120px);
    position:relative;
    a{
        margin: auto; 
        position: absolute;  
        top: 0; left: 0; bottom: 0; right: 0;
        @include pub(125px,56px);
        display: block;
        background: url(../img/logo.png);
    }
}
.topSearch{
    @include pub(500px,52px);
    position: absolute;
    width: 500px;
    top: 32px;
    left: 385px;
    font-size: 14px;
    background: #fff;
    .search-left{
        display: inline-block;
        @include pub(408px,28px);
        text-align: center;
        line-height: 28px;
        border: 1px solid #dd00a7;
        div{
            z-index: 1;
            position: relative;
            float: left;
            @include pub(62px,28px);
            border-right:1px solid #dd00a7 ;
            i{
                position: absolute;
                top: 12px;
                right: 3px;
              @include pub(7px,4px);
              display: block;
              background: url(../img/ui.png); 
              background-position: -62px -433px;
              overflow: hidden; 
            }
        }
        ul{
            width: 62px;
            position: absolute;
            left: 0px;
            top: 30px;
            border: 1px solid #dd00a7;
            border-top: none;
            background-color: #fff;
            z-index: 10;
            display: none;
        }
        input{
            border: none;
            position: absolute;
            outline: none;
            top: 0;
            left: 0;
            width: 310px;
            padding: 5px 5px 5px 72px;
            line-height: 20px;
            font-size: 14px;
            font-family: arial;
            color: #5E5E5E;
            background-color: transparent;
        }
        
        p{
            @include pub(15px,20px);
            background: url(../img/yuyin.png) no-repeat;
            float: right;
            cursor: pointer;
            margin-top: 5px;
            background-size: 13px 19px;
        }
    }
    .butto{
        width: 90px;
        height: 30px;
        border: 0;
        float: right;
        display: inline;
        background: #dd00a7;
        color: #fff;
        font: 16px/30px 'microsoft yahei';
        outline: none;
    }
    .sear{
        width: 90px;
        height: 30px;
        border: 0;
        cursor: pointer;
        float: right;
        display: inline;
        background: #dd00a7;
        font: 16px/30px 'microsoft yahei';
        color: #fff;
        outline: none;
    }
    .search-bottom{
        margin: 6px 0 0;
        *margin-top: 1px;
        overflow: hidden;
        line-height: 14px;
        height: 14px;
        *height: 16px;
        font-size: 12px;
        .highlight{
            color:#f5004b;
        }
        a{
            color: #A5A5A5;
            
        }
    }
    
}

/*导航栏*/
.nav-wrap{
    width: 100%;
    background: #f8f8f8;
}
.nav{
    height: 40px;
    position: relative;
    .navleft{
        @include pub(200px,40px);
        background: #f1f1f1;
        float: left;
        position: relative;
        z-index: 2;
        h2{
            a{
                color: #585858;
                font-family: 'Microsoft YaHei';
                font-weight: 700;
                font-size: 15px;
                line-height: 40px;
                padding-left: 15px;
                float: left;
            }
        }
        #navbox{
            @include pub(200px,450px);
            position: absolute;
            top: 40px;
            background: #717171;
            z-index: 999;
            .bannerLeft{
            @include pub(200px,450px);
                position: absolute;
                top: 1px;
                li{
                    width: 200px;
                    h3{
                        padding-left: 15px;
                    }
                }
                li:hover{
                    background: #fff;
                    a{
                        color: #333;
                    }
                    a:hover{
                        color: #f5004b;
                    }
                }
                a{
                    color: #fff;
                    font-size: 14px;
                    font-family: 'Microsoft YaHei',arial;
                    font-weight: 200;
                    margin-left: 5px;
                    position: relative;
                    height: 30px;
                    line-height: 30px;
                    width: 170px;
                    white-space: nowrap;
                    overflow: hidden;
                }
            }
            
            .subnav{
                background-color: #fff;
                min-height: 449px;
                max-height: 515px;
                border-left: none;
                position: absolute;
                top: 0;
                left: 200px;
                float: left;
                width: 1000px;
                z-index: order;
                display: none;
                .loading1-sync{
                    z-index: 1000;
                    border: 1px solid #818181;
                    min-height: 448px;
                    max-height: 525px;
                    width: 998px;
                    position: absolute;
                    left: 0;
                    background: #fff;
                    .fullcategory{
                        display: none;
                        background-color: #fff;
                        min-height: 448px;
                        max-height: 525px;
                        width: 998px;
                        .fullcategory-left{
                            overflow: hidden;
                            background: #fbfbfb;
                            min-height: 448px;
                            max-height: 525px;
                            float: left;
                            width: 788px;
                            .fullcategory-title{
                                height: 20px;
                                padding: 20px 0 7px 20px;
                                overflow: hidden;
                            }
                        }
                    }
                }
            }
        }
    }
    .nav-center{
        ul{
            height: 38px;
            width: 800px;
            overflow: hidden;
            position: relative;
            li{
                position: relative;
                float: left;
                padding: 0 13px;
                text-align: center;
                line-height: 38px;
                white-space: nowrap;
                .tag_line {
                    position: absolute;
                    right: 0;
                    top: 14px;
                    width: 1px;
                    background-color: #b2b2b2;
                    height: 13px;
                }
                a{
                    color: #000;
                    font-size: 15px;
                    line-height: 40px;
                    font-family: 'Microsoft YaHei';
                }
                a:hover{
                    color: #f5004b;;
                }
            }
        }
    }
    .nav-right{
        @include pub(250px,450px);
        position: absolute;
        top: 40px;
        right: 0px;
        background: #fff;
        z-index: 2;
        .nav-news{
            height: 36px;
            width: 220px;
            overflow: hidden;
            h2{
                font-size: 14px;
                float: left;
                color: #333;
                margin-top: 12px;
                margin-left: 15px;
                font-weight: 400;
            }
            a{
                font-size: 12px;
                text-align: center;
                margin-top: 13px;
                color: #888;
                float: right;
            }
            i{
                display: block;
                width: 4px;
                height: 7px;
            }
        }
        .nav-news-content{
            span{
                line-height: 28px;
                display: block;
                margin-left: 15px;
                a:first-child{
                    color: #888888;
                }
                a:nth-child(2){
                    color: #5e5e5e;
                }
            }
           
        }
        .nav-icons{
            border-top: dashed 1px #cccccc;
            @include pub(220px,146px);
            margin: 10px auto;
            ul{
                text-align: center;
                li{
                    float: left;
                    @include pub(55px,72px);
                    margin:0 5px;
                    line-height: 70px;
                    a{
                         @include pub(38px,71px);
                        i{
                            
                        }
                    }
                }
            }
        }
        .chaoshi{
            @include pub(250px,130px);
            background:url(../img/T1s5Z_Bjdv1RCvBVdK.jpg) no-repeat;
            a{
                @include pub(250px,130px);
                display: block;
                color:#fff;
                p{
                    display: block;
                    padding-top: 15px;
                    padding-left: 16px;
                    font: 700 14px/14px Microsoft YaHei;
                    height: 18px;
                }
                span{
                    width: 120px;
                    font: 13px/16px Microsoft YaHei;
                    height: 18px;
                    margin-left: 16px;
                }
            }
        }
    }
}
   /*轮播图*/
.main{
    height: 450px;
    width: 100%;
    position: relative;
    background-color: rgb(249,81,68);
    z-index: 1;
}
.main ul{
    @include pub(800px,450px);
    position:relative;
    margin: 0 auto;
}
.main ul>li{
    position:absolute;
    top:0;
    left:0;
    height: 450px;
    width: 750px;
}
.main ul>li a{
    width: 750px;
    height: 450px;
    position: absolute;
}
.main ul li img{
    width: 750px;
    height: 450px;
}
.main ol{
    position: absolute;
    bottom: 10px;
    width: 304px;
    left: 50%;
    margin-left: -200px;
}
.main ol li{
    @include pub(30px,5px);
    float: left;
    margin: 0 4px;
    text-align: center;
    opacity: 0.3;
    background-color: rgb(0, 0, 0);
}
.main ol li a{
    @include pub(30px,5px);
    display: block;
}


        /*<!--淘实惠 购新潮-->*/
.tao-wrap{
    width: 100%;
    margin-bottom: 10px;
}
.tao{
    height: 481px;
    background: #fff;
    .bargains{
        float: left;
        @include pub(420px,481px);
        margin-right: 10px;
        div:nth-child(1){
            @include pub(420px,60px);
            line-height: 60px;
            h2{
                font-size: 18px;
                color: #333;
                font-weight: 400;
                float: left;
//              background-position: -169px -100px;
            }
            span{
                display: block;
                float: left;
                font-size: 20px;
                color: #ccc;
                padding:0px 0 0 9px;
                font-family: Arial;
            }
        }
        div:nth-child(2){
            @include pub(420px,420px);
            border: 1px solid #eee;
        }
        a:nth-child(1){
            float: left;
        }
        a:nth-child(2){
            border-bottom: 1px dashed #eee;
            float: right;
        }
        a:nth-child(3){
            float: right;
        }
    }
    .brands{
        float: left;
        @include pub(340px,481px);
        div:nth-child(1){
            @include pub(420px,60px);
            line-height: 60px;
            h2{
                font-size: 18px;
                color: #333;
                font-weight: 400;
                float: left;
            }
            span{
                display: block;
                float: left;
                font-size: 20px;
                color: #ccc;
                padding:0px 0 0 9px;
            }
        }
        div:nth-child(2){
            @include pub(340px,420px);
            border: 1px solid #eee;
            div:nth-child(1){
                float: left;
                width: 219px;
                a:nth-child(1){
                    float: left;
                    border-bottom: 1px dashed #eee;
                }
                a:nth-child(2){
                    float: left;
                }
            }
            div:nth-child(2){
                @include pub(100px,419px);
                float: right;
                a{
                    display: block;
                    @include pub(100px,59px);
                    border-bottom: 1px dashed #eee;
                    img{
                        display: inline-block;
                        margin-top: 15px;
                        width: 100px;
                        height: 30px; 
                    }
                }
                a:last-child{
                    border: none;
                }
            }
        }
        
    }
    
}

        /*<!--领券中心-->*/
.quan{
    @include pub(1200px,110px);
    margin: 0 auto;
    background: #f7f7f7;
    div{
        float: left;
       display: inline-block;
    }
    ul{
        width: 1039px;
        float: left;
        li{
            width: 207px;
            float: left;
            border-right: 1px dashed #eee;
            img{
                width: 100%;
                height: 100%;
            }
        }
        li:last-child{
            width: 203px;
            border-right: none;
        }
    }
}

.like-top,.finance-top{
    @include pub(1200px,60px);
        line-height: 70px;
        overflow: hidden;
    h2{
        font-size: 18px;
        color: #333;
        font-weight: 400;
        float: left;
    }
    span{
        display: block;
        float: left;
        font-size: 20px;
        color: #ccc;
        padding:0px 0 0 9px;
        font-family: Arial;
    }
}
        /*<!--金融-->*/
.finance{
    @include pub(1200px,290px);
    margin: 0 auto;
    background: #fff;
    
    .finance-bottom{
        .fin-left{
            float: left;
        }
        .fin-right{
            border: 1px solid #EEEEEE;
            border-left: none;
            float: right;
            li{
                float: left;
                border-right: 1px dashed #EEEEEE;
                img{
                    float: left;
                }
            }
            li:last-child{
                border: none;
            }
        }
    }
}
        /*<!--猜你喜欢-->*/
.you_may_like{
    position: relative;
    @include pub(1200px,326px);
    margin: 0 auto;
    background: #fff;
    .like-top{
        .change-btn{
                position: relative;
            
            float: right;
            width: 54px;
            a{
                display: block;
                width: 23px;
                height: 23px;
                margin-top: 30px;
                float: left;
                background:url(../img/ui2.png);
                
            }
            .change-btn-pre{
                left: 0;
                outline: none;
                background-position: -126px -104px;
                &:hover{
                     background-position: -126px -288px;
                    
                }
            }
            .change-btn-next{
                right: 0;
                outline: none;
                background-position:-126px -182px;
                &:hover{
                     background-position: -126px -156px;
                    
                }
            }
        }
    }
    .like-bottom{
        width: 1200px;
        height: 264px;
        border: 1px solid #eee;
        position: relative;
        overflow: hidden;
        ul{
//          width: 1200px;
            height: 264px;
            li{
                border-right: 1px dashed #eee;
                width: 199px;
                height: 224px;
                margin-top: 20px;
                float: left;
                a:hover{
                    p{
                        color: #f5004a;
                    }
                }
                img{
                    display: block;
                    height: 120px;
                    width: 120px;
                    margin-left: 58px;
                }
                p{
                    margin: 0 0 0 20px;
                    color: #5e5e5e;
                    font-size: 12px;
                    line-height: 18px;
                   
                    overflow: hidden;
                    width: 167px;
                    height: 36px;
                    margin: 32px 0 20px 20px;
                    cursor: pointer;
                }
                span{
                    color: #ff0027;
                    line-height: 16px;
                    height: 16px;
                    margin: 0px 0 0 20px;
                    font-size: 16px;
                }
            }
        }
    }
}
        /*<!--必买清单-->*/
.must_buy_wrap{
    margin-top: 40px;
    padding: 20px 0 30px 0;
    width: 100%;
    height: auto;
    background: #f7f7f7;
    float: left;
}
.must_buy{
    height: auto;
    .buy_title{
        h3{
            display: inline;
            font-size: 18px;
            line-height: 38px;
            color: #333;
        }
        span{
            margin-right: 12px;
            float: right;
            a{
                font-size: 12px;
                margin-top: 12px;
                color: #888;
                display: block;
            }
        }
    }
    .must_buy_left{
        display: inline-block;
        float: left;
        ul{
            li{
                float: left;
                margin-right: 12px;
                background: #fff;
                width: 306px;
                padding-bottom: 20px;
                div:first-child{
                    @include pub(306px,180px);
                    img{
                        width: 100%;
                    }
                }
                div:last-child{
                    padding: 0 20px 0 20px;
                    a:nth-child(1){
                        color: #000000;
                        display: block;
                        font-size: 16px;
                        line-height: 28px;
                        height: 28px;
                        margin: 14px 0 7px;
                        overflow: hidden;
                        word-break: break-all;
                    }
                    a:nth-child(2){
                        color: #5e5e5e;;
                        display: block;
                        font-size: 12px;
                        line-height: 18px;
                        height: 54px;
                        margin-bottom: 17px;
                        overflow: hidden;
                    }
                    a:hover{
                        color: #f70073;
                    }
                }
            }
        }
    }
    .must_buy_right{
        width: 246px;
        display: inline-block;
        float: right;
        div:nth-child(2){
//          height: 338px;
            background: #fff;
            padding: 0 15px 23px 15px;
            div:nth-child(1){
                width: 216px;
                padding-top: 15px;
            }
            div:nth-child(2){
                line-height: 18px;
                padding: 15px 0 12px;
                border-bottom: 1px dashed #e6e6e6;
                margin-bottom: 14px;
                overflow: hidden;
                white-space: nowrap;
                p:first-child{
                    color: #a5a5a5;
                    font-size: 12px;
                    line-height: 18px;
                    float: left;
                    overflow: hidden;
                    margin-bottom: 3px;
                    span{
                        float: left;
                        background: #ff7612;
                        border-radius: 2px;
                        padding: 0 3px;
                        color: #fff;
                        vertical-align: 1px;
                    }
                    a{
                        color: #333;
                        float: left;
                        font-size: 14px;
                        margin: 0 15px 0 5px;
                    }
                }
                p:last-child{
                    float: left;
                    color: #a5a5a5;
                    font-size: 12px;
                    line-height: 18px;
                    overflow: hidden;
                    margin-bottom: 3px;
                }
            }
            p{
                a{
                    color: #5E5E5E;
                    display: block;
                    height: 22px;
                    line-height: 22px;
                    overflow: hidden;
                    &:hover{
                        color: #f70073;
                    }
                }
            }
            
        }
    }
}

        /*<!--楼梯-->*/

#LoutiNav{
    position: fixed;
    top: 25%;
    left: 40px;
    width:66px;
    border: 1px solid ;
    text-align: center;
    z-index: 999;
    ul{ 
        width: 66px;
        overflow: hidden;
        li{
            height: 43px;
            position: relative;
            line-height: 5px;
            border-top: none;
            list-style:none;
            text-align:center;
            line-height: 18px;
            font-size: 12px;
            cursor: pointer;
            border-bottom: 1px dotted #AAAAAA;
            span:nth-child(1){
                width: 100%;
                display: block;
                height: 16px;
                overflow: hidden;
                cursor: pointer;
            }
            span:nth-child(1){
                line-height: 24px;
                height: 22px;
            }
        }
        li.red{
            color: red;
        }
        li.last {
          background: darkred;
          color: white;
          border-bottom: none;
          line-height: 44px;
        }
    }
            li:hover{
                color: red;
            }
            
            
}
.Lou_guang{
    margin-top: 20px;
}
.stairs{
    overflow: hidden;
    width: 100%;
    .mt{
        height: 38px;
        padding-top: 32px;
        border-bottom: 1px solid #719ef7;
        .mtTop{
            width: 210px;
            height: 38px;
            overflow: hidden;
            float: left;
            line-height: 38px;
            font-size: 20px;
        }
        .tab{
            float: right;
            margin-top: 8px;
            max-width: 790px;
            height: 30px;
            overflow: hidden;
            position: relative;
            li{
                float: left;
                a{
                    font-size: 14px;
                    padding: 0 15px;
                    height: 30px;
                    line-height: 30px;
                    color: #5e5e5e;
                    display: inline-block;
                }
            }
        }
    }
    .mc{
        height: 470px;
        position: relative;
        .mc_l{
            height: 470px;
            width: 210px;
            float: left;
            position: relative;
            .mc_l_img{
                display: block;
                background: #fff;
                img{
                    margin-left: -10px;
                    display: block;
                    width: 220px;
                    height: 278px;
                }
            }
            .KeyAll{
                height: auto;
                width: 210px;
                .channel{
                    width: 210px;
                    min-height: 32px;
                    .channel_inner{
                        width: 180px;
                        margin-left: 15px;
                        margin-right: 15px;
                        overflow: hidden;
                        li{
                            width: 180px;
                            height: 32px;
                            line-height: 32px;
                            a,span{
                                display: inline-block;
                                font-size: 14px;
                                color: #f0f0f0;
                                float: left;
                            }
                            span{
                                padding: 0 5px;
                            }
                        }
                    }
                }
                .keywords{
                    height: 160px;
                    width: 210px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    overflow: hidden;
                    li{
                        height: 28px;
                        line-height: 28px;
                        a{
                            display: inline-block;
                            color: #f0f0f0;
                            height: 20px;
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    ul:nth-child(1){
                        @include pub(50px,137px);
                        float: left;
                        overflow: hidden;
                        margin: 8px 0 15px 15px;
                    }
                    ul:nth-child(2),ul:nth-child(3){
                        height: 137px;
                        width: 37px;
                        float: left;
                        overflow: hidden;
                        margin: 8px 0 15px 10px;
                    }
                    ul:nth-child(3){
                        width: 73px;
                        margin: 8px 15px 15px 10px;
                    }
                }
            }
        }
    }
    /*包裹自定义分页器的div的位置等CSS样式*/
            .swiper-pagination-custom {
                bottom: 10px;
                left: 0;
                width: 100%;
            }
            /*自定义分页器的样式，这个你自己想要什么样子自己写*/
            .swiper-pagination-customs {
                width: 30px;
                height: 4px;
                display: inline-block;
                background: #000;
                opacity: .3;
                margin: 0 5px;
            }
            /*自定义分页器激活时的样式表现*/
            .swiper-pagination-customs-active {
                opacity: 1;
                background-color: #F78E00;
            }
    .nav{
        position: absolute;
        bottom: 121px;
        left: 50%;
        text-align: center;
        margin-left: -40px;
        width: 81px;
        height: 16px;
        li{
            width: 18px;
            height: 10px;
            display: inline-block;
            margin-left: 3px;
            float: left;
            a{
                display: block;
                width: 18px;
                height: 4px;
                background: #fff;
                opacity: .6;
                margin-top: 3px;
            }
        }
    }
    
    .mc_main{
        width: 990px;
        height: 470px;
        position: absolute;
        right: 0;
        top: 0;
        background: #fff;
        .slider_page{
            display: none;
        }
        &:hover{
            .slider_page{
                display: block;
            }
        }
        .main_inner{
            float: left;
            li{
                float: left;
                width: 198px;
                height: 235px;
                overflow: hidden;
                a{
                    width: 197px;
                    height: 234px;
                    display: block;
                    overflow: hidden;
                    border-right: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    img{
                        display: block;
                        width: 130px;
                        height: 130px;
                        margin: 20px 0 15px 34px;
                    }
                    .p_name,.p_price{
                        width: 157px;
                        height: 36px;
                        margin-left: 20px;
                        overflow: hidden;
                        line-height: 18px;
                        font-size: 12px;
                    }
                    .p_name{
                        color: #5e5e5e;
                    }
                    .p_price{
                        height: 20px;
                        line-height: 26px;
                        color: #ff0027;
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .mc_c{
        overflow: hidden;
        float: left;
        position: relative;
        @include pub(389px,470px);
        .brand_slider{
            width: 372px;
            height: 102px;
            left: 10px;
            bottom: 10px;
            position: absolute;
            overflow: hidden;
            cursor: pointer;
            ul{
                position: absolute;
                left: 0;
                top: 0;
                display: block;
                li{
                    width: 122px;
                    height: 50px;
                    float: left;
                    margin: 0 0 1px 1px;
                    opacity: .9;
                    background: #fff;
                    img{
                        display: block;
                        width: 100px;
                        height: 30px;
                        margin: 10px 0 0 11px;
                    }
                }
            }
        }
    }
    .mc_r{
        width: 601px;
        height: 470px;
        float: left;
        overflow: hidden;
        .mc_r_inner{
            li{
                width: 200px;
                height: 235px;
                float: left;
                a{
                    display: block;
                    height: 234px;
                    border-right: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                }
            }
        }
    }
    .slider_page{
        span.prev,span.next{
            display: block;
            width: 30px;
            height: 60px;
            z-index: 101;
            position: absolute;
            top: 0;
            background:url(../img/ui2.png);
        }
        span.prev{
            background-position: -84px -136px  ;
        }
        span.next{
            background-position: -84px -74px  ;
        }
        .slider_up,.slider_down{
            display: block;
            width: 30px;
            height: 60px;
            position: absolute;
            top: 50%;
            margin-top: -30px;
        }
        .slider_down{
            right: 0;
        }
        .slider_prev,.slider_next{
            display: block;
            width: 30px;
            height: 60px;
            background: #000;
            opacity: .25;
            position: absolute;
            top: 0;
        }
    }
    .Louti4 .mc{
        .mc_main{
            width: 1080px;
        }
        .mc_c{
            width: 479px;
        }
        .mc_l{
            width:120px;
            .mc_l_img img{
                width: 130px;
            }
            .KeyAll{
                .channel{
                    position: absolute;
                    bottom: 150px;
                    width: 120px;
                    ul li{
                        float: none;
                    }
                }
                .keywords{
                    width: 120px;
                    height: 150px;
                }
            }
        }
        .mc_main:first-child{
            width: 1080px;
            
            .mc_main_content .mc_c{
                width: 479px;
            }
        }
    } 

}


        /*<!--热销榜-->*/
        /*<!--帮助-->*/
#help{
    overflow: hidden;
    margin: 15px auto 0;
    >ul {
        background: #f5f5f5;
        padding: 15px 0;
        overflow: hidden;
        li{
            float: left;
            width: 33%;
            text-align: center;
            a{
                line-height: 40px;
                font: 700 18px/37px Arial,"Microsoft YaHei";
                color: #404040;
                i{
                    display: inline-block;
                    width: 40px;
                    height: 42px;
                    background: url(../img/ui.png);
                    background-position-x: 0%;
                    background-position-y: 0%;
                    vertical-align: middle;
                    margin-right: 10px;
                }
                i.icon-pz {
                    background-position: 0 -1469px;
                }
                i.icon-dj {
                    background-position: -40px -1469px;
                }
                i.icon-sd {
                    background-position: -80px -1469px;
                }
            }
            .foot-titlt-dot {
                @include pub(3px,10px);
                margin: 0 16px;
                color: #ccc;
                display: inline-block;
                background: url(../img/ui.png);
                background-position-x: 0%;
                background-position-y: 0%;
                vertical-align: middle;
                background-position: -120px -1489px;
            }
            a.sec-title {
                font-weight: 400;
            }
        }
    }
    .gome-help-box {
        width: 110%;
        margin-left: -5%;
        overflow: hidden;
         dl {
            float: left;
            width: 9%;
            padding: 15px 0 0 125px;
            white-space: nowrap;
            display: inline;
            dt {
                font: 16px/25px Arial,"Microsoft YaHei";
                color: #5e5e5e;
            }
            ul{
                background: #fff;
                padding: 0;
                overflow: hidden;
                li{
                    float: none;
                    width: 100%;
                    text-align: left;
                    a{
                        font: 12px/22px Arial,"Microsoft YaHei";
                        color: #a5a5a5;
                        padding: 0;
                    }
                }
            }
        }
    }
}
        /*<!--底部-->*/
.foot-wrap{
    border-top: 1px solid #dd00a7;
    background: #f7f7f7;
    margin-top: 15px;
    overflow: hidden;
    margin-top: 15px;
}
.foot{
    position: relative;
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 0;
    .clearfix::after, .wbox::after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
    a{
        color: #999;
    }
    p {
        font: 12px/22px Arial;
        color: #999;
    }
    span{
        display: inline-block;
        padding: 0 50px 40px 0;
        p {
            margin-left: 10px;
            font: 12px/20px Arial,"Microsoft YaHei";
            float: left;
            width: 210px;
            overflow: hidden;
            height: 45px;
            strong {
                color: #333333;
                display: block;
                font: 400 16px/25px Arial,"Microsoft YaHei";
            }
            
        }
        i {
            display: block;
            width: 45px;
            height: 45px;
            background: url(../img/ui.png) 0 -135px;
            float: left;
        }
        
        span.ued i {
            background-position: -45px -135px;
        }
    }
    
    .qrcode-section {
        position: absolute;
        right: -10px;
        top: 15px;
        font-size: 0;
        em.code-sm {
            width: 50px;
            margin: 0 10px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            position: relative;
        }
        em.code-bg {
            width: 110px;
            display: inline-block;
            vertical-align: top;
            text-align: center;
            position: relative;
        }
        em{
             i{
                display: block;
                width: 40px;
                height: 25px;
                background: url(../img/ui.png);
            }
            div i.icon-triangle {
                position: absolute;
                height: 8px;
                width: 13px;
                left: 68px;
                background: url(../img/ui.png) -67px -127px !important;
                top: 100%;
            }
            
        }
        em.wx i {
            background-position: -105px -135px;
        }
        em.app{
            i {
                background: none;
                width: 90px;
                height: 90px;
            }
            p{
                width: 90px;
            }
        }
            
        em.wap i {
            background-position: -185px -135px;
        }
    }
    ul{
        overflow: hidden;
        li{
            float: left;
            font: 12px/22px Arial,"Microsoft YaHei";
            padding: 0 13px 0 0;
            color: #ccc;
            white-space: nowrap;
        }
    }
    .gome-foot-credit {
        border-top: 1px solid #e6e6e6;
        margin-top: 5px;
        padding: 10px 0 25px;
        _height: 100%;
        overflow: hidden;
    }
}
        /*<!--侧边栏-->*/
.sidebar{
    @include pub(35px,100%);
    position: fixed;
    background: #4e4e4e;
    top: 0;
    right: 0;
    li:hover{
        background: rgb(52,52,52);
    }
    .side-top{
        position: absolute;
        display: block;
        top: 71px;
        text-align: center;
        li{
            font-size: 12px;
            text-align: center;
            a{
                height: 38px;
                display: block;
            }
        }
        .icon-user{
            i{
                margin-left: 6px;
                margin-top: 10px;
                display: block;
                background-position: -18px -1025px;
                @include pub(28px,18px);
                position: absolute;
                text-align: center;
            }
            &:hover{
                background: rgb(52,52,52);
            }
        }
        li:nth-child(2){
            height: 100px;
            padding: 10px 0;
            a{
                color: #fff;
                height: 100px;
            }
            i{
                margin-left: 5px;
                margin-top: 15px;
                display: block;
                background-position: 0px -1046px;
                @include pub(31px,20px);
                position: absolute;
                text-align: center;
            }
            span{
                line-height: 18px;
                margin-top: 30px;
            }
            
        }
        li:nth-child(3),li:nth-child(4){
            i{
                margin-left: 6px;
                margin-top: 10px;
                display: block;
                background-position: 2px -1120px;
                @include pub(26px,26px);
                position: absolute;
                text-align: center;
            }
        }
        li:nth-child(4){
            i{
                background-position: -68px -1023px;
            }
        }
    }
    .side-bottom{
        position: absolute;
        display: block;
        text-align: center;
        height: auto;
        width: 35px;
        bottom: 35px;
        li{
            height: 36px;
            a{
                display: block;
                height: 36px;
            }
            i{
                margin-left: 6px;
                margin-top: 10px;
                display: block;
                background-position: 2px -1120px;
                @include pub(20px,20px);
                position: absolute;
                text-align: center;
            }
        }
        li:nth-child(1){
            i{
                background-position: -212px -473px;;
            }
        }
        li:nth-child(2){
            i{
                background-position: -212px -493px;
            }
        }
        li:nth-child(3){
            i{
                background-position: -212px -513px;
            }
        }
        li:nth-child(4){
            i{
                background-position: -212px -533px;
            }
        }
    }
}
.side-top li span{
    color: #fff;
    display: block;
    margin: 12px;
    width: 12px;
}

