@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body, button, input, select, textarea {
  font: 12px arial,"微软雅黑";
}

img {
  vertical-align: middle;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

b, h1, h2, h3, h4, h5, h6, em, i {
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
}

.wrapbox {
  width: 1200px;
  margin: 0 auto;
}

i {
  background-image: url(../img/ui.png);
}

/*顶部广告*/
.advert {
  background: #c3799a;
  width: 100%;
}

.advert div {
  height: 80px;
  position: relative;
}

.close {
  width: 12px;
  height: 12px;
  position: absolute;
  top: 3px;
  right: 3px;
  display: block;
  padding: 6px;
}

.close i {
  display: block;
  width: 12px;
  height: 12px;
  background-position: -60px -466px;
}

.close:hover i {
  background-position: -72px -466px;
}

.close:hover {
  background: #000;
  opacity: 0.5;
}

/*top*/
.top-wrap {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #f3f3f3;
  background: #f8f8f8;
  height: 30px;
}
.top-wrap .top {
  text-align: center;
  height: 31px;
}

.top li {
  float: left;
  line-height: 31px;
  margin: 0 10px;
}

.top ul li > a {
  color: #5e5e5e;
}

.top ul li b {
  color: #f5004b;
}

#dropdown {
  border: 1px solid #e6e6e6;
  z-index: 30;
  position: absolute;
  font-size: 12px;
  background: #fff;
  width: 330px;
  height: auto;
  display: none;
  left: -1px;
}

.public-dropdown {
  width: 310px;
  height: 56px;
  margin: 0 auto;
  padding: 20px 0px 10px 0px;
}

.public-dropdown i {
  display: inline-block;
  width: 55px;
  float: left;
  height: 55px;
  border-radius: 50%;
  background-image: url(../img/ui.png);
  background-position: 0 -337px;
}

.public-dropdown p {
  padding-top: 20px;
  width: 235px;
  height: 36px;
  line-height: 20px;
}

.public-drop {
  border-top: 1px solid #f3f3f3;
  padding-top: 5px;
  position: relative;
  width: 310px;
  margin: 0 auto;
}
.public-drop p {
  line-height: 40px;
  float: left;
  margin-left: 10px;
}
.public-drop p a {
  color: #006699;
}
.public-drop b {
  line-height: 40px;
  float: right;
  margin-right: 18px;
}
.public-drop b a {
  height: 18px;
  color: #cccccc;
}
.public-drop b a:hover {
  color: #f5004b;
}
.public-drop .p-d-prev {
  display: block;
  position: absolute;
  left: 0;
  bottom: 30px;
  width: 18px;
  height: 36px;
  background: url(../img/ui.png) -58px -356px;
}
.public-drop .p-d-prev:hover {
  background-position-y: -513px;
}
.public-drop .p-d-next:hover {
  background-position-y: -513px;
}
.public-drop .p-d-next {
  position: absolute;
  right: 0;
  bottom: 30px;
  display: block;
  width: 18px;
  height: 36px;
  background: url(../img/ui.png) -76px -357px;
}
.public-drop div {
  width: 240px;
  height: 90px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.public-drop div ul {
  position: absolute;
  width: 720px;
  height: 90px;
}
.public-drop div ul li {
  width: 80px;
  height: 90px;
  margin: 0;
}
.public-drop div ul li a {
  color: #dbd0cc;
  width: 80px;
  height: 70px;
  display: block;
}
.public-drop div ul li a i {
  color: #cccccc;
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
  font-size: 40px;
}
.public-drop div ul li a i:hover {
  color: #a5a5a5;
}

.top-l {
  position: relative;
  width: 90px;
}

.top-l > i {
  position: absolute;
  top: 12px;
  right: 5px;
  background-position: -62px -433px;
  width: 7px;
  height: 4px;
  overflow: hidden;
}

.top-l:hover {
  width: 88px;
  height: 55px;
  background: #fff;
  border: 1px solid #e6e6e6;
  border-bottom: none;
}
.top-l:hover #dropdown {
  display: block;
}

.top-l:hover > a {
  color: #f5004b;
}

.top-l:hover > i {
  background-position: -55px -433px;
}

.top ol {
  text-align: left;
  padding: 0;
  float: right;
}
.top ol li {
  width: 80px;
  position: relative;
}
.top ol li a {
  margin-left: 10px;
}
.top ol li:hover {
  z-index: 10;
}
.top ol li:hover i {
  background-position: -55px -433px;
}
.top ol li:hover a {
  color: #f70073;
}
.top ol i {
  right: 8px;
  position: absolute;
  top: 12px;
  width: 7px;
  height: 4px;
  overflow: hidden;
  background: url(../img/ui.png);
  background-position: -62px -433px;
}
.top ol .top-o-3 {
  position: relative;
  height: 30px;
}
.top ol .top-o-3 div {
  top: 30px;
  position: absolute;
  right: 0;
  display: inline-block;
  height: 200px;
  width: 200px;
  background: pink url(../img/ui.png);
  background-position: 0 -1511px;
  display: none;
}
.top ol .top-o-3:hover {
  width: 78px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  background: #fff;
}
.top ol .top-o-3:hover div {
  border: 1px solid #e6e6e6;
  display: block;
}
.top ol .top-o-2 {
  position: relative;
  height: 30px;
}
.top ol .top-o-2 div {
  top: 30px;
  display: inline-block;
  height: 200px;
  width: 200px;
  display: none;
  background: #fff;
}
.top ol .top-o-2:hover {
  width: 78px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  background: #fff;
}
.top ol .top-o-2:hover div {
  border: 1px solid #e6e6e6;
  display: block;
}
.top ol .top-o-4 div {
  z-index: 999;
  position: absolute;
  right: -100px;
  top: 30px;
  height: 200px;
  width: 1198px;
  display: none;
  background: #fff;
}
.top ol .top-o-4:hover {
  width: 78px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  background: #fff;
}
.top ol .top-o-4:hover div {
  border: 1px solid #e6e6e6;
  display: block;
}
.top ol .top-3 {
  position: relative;
}
.top ol .top-3 div {
  position: absolute;
  right: 0;
  top: 30px;
  display: inline-block;
  height: 200px;
  width: 200px;
  display: none;
  background: #fff;
}
.top ol .top-3 div div {
  width: 130px;
  height: 170px;
  background: url(../img/ui.png) 0 -799px;
  position: absolute;
  left: 50%;
  margin-left: -65px;
  top: 15px;
}
.top ol .top-3:hover {
  width: 78px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  background: #fff;
}
.top ol .top-3:hover div {
  border: 1px solid #e6e6e6;
  display: block;
}
.top ol .top-3:hover div div {
  border: none;
}

/*搜索*/
.search-wrap {
  width: 100%;
}

.search {
  height: 120px;
  position: relative;
}

.logo {
  float: left;
  width: 125px;
  height: 120px;
  position: relative;
}
.logo a {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 125px;
  height: 56px;
  display: block;
  background: url(../img/logo.png);
}

.topSearch {
  width: 500px;
  height: 52px;
  position: absolute;
  width: 500px;
  top: 32px;
  left: 385px;
  font-size: 14px;
  background: #fff;
}
.topSearch .search-left {
  display: inline-block;
  width: 408px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  border: 1px solid #dd00a7;
}
.topSearch .search-left div {
  z-index: 1;
  position: relative;
  float: left;
  width: 62px;
  height: 28px;
  border-right: 1px solid #dd00a7;
}
.topSearch .search-left div i {
  position: absolute;
  top: 12px;
  right: 3px;
  width: 7px;
  height: 4px;
  display: block;
  background: url(../img/ui.png);
  background-position: -62px -433px;
  overflow: hidden;
}
.topSearch .search-left ul {
  width: 62px;
  position: absolute;
  left: 0px;
  top: 30px;
  border: 1px solid #dd00a7;
  border-top: none;
  background-color: #fff;
  z-index: 10;
  display: none;
}
.topSearch .search-left input {
  border: none;
  position: absolute;
  outline: none;
  top: 0;
  left: 0;
  width: 310px;
  padding: 5px 5px 5px 72px;
  line-height: 20px;
  font-size: 14px;
  font-family: arial;
  color: #5E5E5E;
  background-color: transparent;
}
.topSearch .search-left p {
  width: 15px;
  height: 20px;
  background: url(../img/yuyin.png) no-repeat;
  float: right;
  cursor: pointer;
  margin-top: 5px;
  background-size: 13px 19px;
}
.topSearch button {
  width: 90px;
  height: 30px;
  border: 0;
  cursor: pointer;
  float: right;
  display: inline;
  background: #dd00a7;
  font: 16px/30px 'microsoft yahei';
  color: #fff;
  letter-spacing: 2px;
  text-indent: 0;
  outline: none;
}
.topSearch .search-bottom {
  margin: 6px 0 0;
  *margin-top: 1px;
  overflow: hidden;
  line-height: 14px;
  height: 14px;
  *height: 16px;
  font-size: 12px;
}
.topSearch .search-bottom .highlight {
  color: #f5004b;
}
.topSearch .search-bottom a {
  color: #A5A5A5;
}

/*导航栏*/
.nav-wrap {
  width: 100%;
  background: #f8f8f8;
}

.nav {
  height: 40px;
  position: relative;
}
.nav .navleft {
  width: 200px;
  height: 40px;
  background: #f1f1f1;
  float: left;
  position: relative;
  z-index: 2;
}
.nav .navleft h2 a {
  color: #585858;
  font-family: 'Microsoft YaHei';
  font-weight: 700;
  font-size: 15px;
  line-height: 40px;
  padding-left: 15px;
  float: left;
}
.nav .navleft #navbox {
  width: 200px;
  height: 450px;
  position: absolute;
  top: 40px;
  background: #717171;
  z-index: 999;
}
.nav .navleft #navbox .bannerLeft {
  width: 200px;
  height: 450px;
  position: absolute;
  top: 1px;
}
.nav .navleft #navbox .bannerLeft li {
  width: 200px;
}
.nav .navleft #navbox .bannerLeft li h3 {
  padding-left: 15px;
}
.nav .navleft #navbox .bannerLeft li:hover {
  background: #fff;
}
.nav .navleft #navbox .bannerLeft li:hover a {
  color: #333;
}
.nav .navleft #navbox .bannerLeft li:hover a:hover {
  color: #f5004b;
}
.nav .navleft #navbox .bannerLeft a {
  color: #fff;
  font-size: 14px;
  font-family: 'Microsoft YaHei',arial;
  font-weight: 200;
  margin-left: 5px;
  position: relative;
  height: 30px;
  line-height: 30px;
  width: 170px;
  white-space: nowrap;
  overflow: hidden;
}
.nav .navleft #navbox .subnav {
  background-color: #fff;
  min-height: 449px;
  max-height: 515px;
  border-left: none;
  position: absolute;
  top: 0;
  left: 200px;
  float: left;
  width: 1000px;
  z-index: order;
  display: none;
}
.nav .navleft #navbox .subnav .loading1-sync {
  z-index: 1000;
  border: 1px solid #818181;
  min-height: 448px;
  max-height: 525px;
  width: 998px;
  position: absolute;
  left: 0;
  background: #fff;
}
.nav .navleft #navbox .subnav .loading1-sync .fullcategory {
  display: none;
  background-color: #fff;
  min-height: 448px;
  max-height: 525px;
  width: 998px;
}
.nav .navleft #navbox .subnav .loading1-sync .fullcategory .fullcategory-left {
  overflow: hidden;
  background: #fbfbfb;
  min-height: 448px;
  max-height: 525px;
  float: left;
  width: 788px;
}
.nav .navleft #navbox .subnav .loading1-sync .fullcategory .fullcategory-left .fullcategory-title {
  height: 20px;
  padding: 20px 0 7px 20px;
  overflow: hidden;
}
.nav .nav-center ul {
  height: 38px;
  width: 800px;
  overflow: hidden;
  position: relative;
}
.nav .nav-center ul li {
  position: relative;
  float: left;
  padding: 0 13px;
  text-align: center;
  line-height: 38px;
  white-space: nowrap;
}
.nav .nav-center ul li .tag_line {
  position: absolute;
  right: 0;
  top: 14px;
  width: 1px;
  background-color: #b2b2b2;
  height: 13px;
}
.nav .nav-center ul li a {
  color: #000;
  font-size: 15px;
  line-height: 40px;
  font-family: 'Microsoft YaHei';
}
.nav .nav-center ul li a:hover {
  color: #f5004b;
}
.nav .nav-right {
  width: 250px;
  height: 450px;
  position: absolute;
  top: 40px;
  right: 0px;
  background: #fff;
  z-index: 2;
}
.nav .nav-right .nav-news {
  height: 36px;
  width: 220px;
  overflow: hidden;
}
.nav .nav-right .nav-news h2 {
  font-size: 14px;
  float: left;
  color: #333;
  margin-top: 12px;
  margin-left: 15px;
  font-weight: 400;
}
.nav .nav-right .nav-news a {
  font-size: 12px;
  text-align: center;
  margin-top: 13px;
  color: #888;
  float: right;
}
.nav .nav-right .nav-news i {
  display: block;
  width: 4px;
  height: 7px;
}
.nav .nav-right .nav-news-content span {
  line-height: 28px;
  display: block;
  margin-left: 15px;
}
.nav .nav-right .nav-news-content span a:first-child {
  color: #888888;
}
.nav .nav-right .nav-news-content span a:nth-child(2) {
  color: #5e5e5e;
}
.nav .nav-right .nav-icons {
  border-top: dashed 1px #cccccc;
  width: 220px;
  height: 146px;
  margin: 10px auto;
}
.nav .nav-right .nav-icons ul {
  text-align: center;
}
.nav .nav-right .nav-icons ul li {
  float: left;
  width: 55px;
  height: 72px;
  margin: 0 5px;
  line-height: 70px;
}
.nav .nav-right .nav-icons ul li a {
  width: 38px;
  height: 71px;
}
.nav .nav-right .chaoshi {
  width: 250px;
  height: 130px;
  background: url(../img/T1s5Z_Bjdv1RCvBVdK.jpg) no-repeat;
}
.nav .nav-right .chaoshi a {
  width: 250px;
  height: 130px;
  display: block;
  color: #fff;
}
.nav .nav-right .chaoshi a p {
  display: block;
  padding-top: 15px;
  padding-left: 16px;
  font: 700 14px/14px Microsoft YaHei;
  height: 18px;
}
.nav .nav-right .chaoshi a span {
  width: 120px;
  font: 13px/16px Microsoft YaHei;
  height: 18px;
  margin-left: 16px;
}

/*轮播图*/
.main {
  height: 450px;
  width: 100%;
  position: relative;
  background-color: #f95144;
  z-index: 1;
}

.main ul {
  width: 800px;
  height: 450px;
  position: relative;
  margin: 0 auto;
}

.main ul > li {
  position: absolute;
  top: 0;
  left: 0;
  height: 450px;
  width: 750px;
}

.main ul > li a {
  width: 750px;
  height: 450px;
  position: absolute;
}

.main ul li img {
  width: 750px;
  height: 450px;
}

.main ol {
  position: absolute;
  bottom: 10px;
  width: 304px;
  left: 50%;
  margin-left: -200px;
}

.main ol li {
  width: 30px;
  height: 5px;
  float: left;
  margin: 0 4px;
  text-align: center;
  opacity: 0.3;
  background-color: black;
}

.main ol li a {
  width: 30px;
  height: 5px;
  display: block;
}

/*<!--淘实惠 购新潮-->*/
.tao-wrap {
  width: 100%;
  margin-bottom: 10px;
}

.tao {
  height: 481px;
  background: #fff;
}
.tao .bargains {
  float: left;
  width: 420px;
  height: 481px;
  margin-right: 10px;
}
.tao .bargains div:nth-child(1) {
  width: 420px;
  height: 60px;
  line-height: 60px;
}
.tao .bargains div:nth-child(1) h2 {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  float: left;
}
.tao .bargains div:nth-child(1) span {
  display: block;
  float: left;
  font-size: 20px;
  color: #ccc;
  padding: 0px 0 0 9px;
  font-family: Arial;
}
.tao .bargains div:nth-child(2) {
  width: 420px;
  height: 420px;
  border: 1px solid #eee;
}
.tao .bargains a:nth-child(1) {
  float: left;
}
.tao .bargains a:nth-child(2) {
  border-bottom: 1px dashed #eee;
  float: right;
}
.tao .bargains a:nth-child(3) {
  float: right;
}
.tao .brands {
  float: left;
  width: 340px;
  height: 481px;
}
.tao .brands div:nth-child(1) {
  width: 420px;
  height: 60px;
  line-height: 60px;
}
.tao .brands div:nth-child(1) h2 {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  float: left;
}
.tao .brands div:nth-child(1) span {
  display: block;
  float: left;
  font-size: 20px;
  color: #ccc;
  padding: 0px 0 0 9px;
}
.tao .brands div:nth-child(2) {
  width: 340px;
  height: 420px;
  border: 1px solid #eee;
}
.tao .brands div:nth-child(2) div:nth-child(1) {
  float: left;
  width: 219px;
}
.tao .brands div:nth-child(2) div:nth-child(1) a:nth-child(1) {
  float: left;
  border-bottom: 1px dashed #eee;
}
.tao .brands div:nth-child(2) div:nth-child(1) a:nth-child(2) {
  float: left;
}
.tao .brands div:nth-child(2) div:nth-child(2) {
  width: 100px;
  height: 419px;
  float: right;
}
.tao .brands div:nth-child(2) div:nth-child(2) a {
  display: block;
  width: 100px;
  height: 59px;
  border-bottom: 1px dashed #eee;
}
.tao .brands div:nth-child(2) div:nth-child(2) a img {
  display: inline-block;
  margin-top: 15px;
  width: 100px;
  height: 30px;
}
.tao .brands div:nth-child(2) div:nth-child(2) a:last-child {
  border: none;
}

/*<!--领券中心-->*/
.quan {
  width: 1200px;
  height: 110px;
  margin: 0 auto;
  background: #f7f7f7;
}
.quan div {
  float: left;
  display: inline-block;
}
.quan ul {
  width: 1039px;
  float: left;
}
.quan ul li {
  width: 207px;
  float: left;
  border-right: 1px dashed #eee;
}
.quan ul li img {
  width: 100%;
  height: 100%;
}
.quan ul li:last-child {
  width: 203px;
  border-right: none;
}

.like-top, .finance-top {
  width: 1200px;
  height: 60px;
  line-height: 70px;
  overflow: hidden;
}
.like-top h2, .finance-top h2 {
  font-size: 18px;
  color: #333;
  font-weight: 400;
  float: left;
}
.like-top span, .finance-top span {
  display: block;
  float: left;
  font-size: 20px;
  color: #ccc;
  padding: 0px 0 0 9px;
  font-family: Arial;
}

/*<!--金融-->*/
.finance {
  width: 1200px;
  height: 290px;
  margin: 0 auto;
  background: #fff;
}
.finance .finance-bottom .fin-left {
  float: left;
}
.finance .finance-bottom .fin-right {
  border: 1px solid #EEEEEE;
  border-left: none;
  float: right;
}
.finance .finance-bottom .fin-right li {
  float: left;
  border-right: 1px dashed #EEEEEE;
}
.finance .finance-bottom .fin-right li img {
  float: left;
}
.finance .finance-bottom .fin-right li:last-child {
  border: none;
}

/*<!--猜你喜欢-->*/
.you_may_like {
  width: 1200px;
  height: 326px;
  margin: 0 auto;
  background: #fff;
}
.you_may_like .like-top .change-btn {
  float: right;
  width: 54px;
}
.you_may_like .like-top .change-btn a {
  display: block;
  width: 23px;
  height: 23px;
  margin-top: 30px;
  float: left;
  margin-left: 3px;
  background: url(../img/ui2.png);
}
.you_may_like .like-top .change-btn .change-btn-pre {
  background-position: -126px -104px;
}
.you_may_like .like-top .change-btn .change-btn-pre:hover {
  background-position: -126px -288px;
}
.you_may_like .like-top .change-btn .change-btn-next {
  background-position: -126px -182px;
}
.you_may_like .like-top .change-btn .change-btn-next:hover {
  background-position: -126px -156px;
}
.you_may_like .like-bottom {
  width: 1200px;
  height: 264px;
  border: 1px solid #eee;
  position: relative;
  overflow: hidden;
}
.you_may_like .like-bottom ul {
  height: 264px;
}
.you_may_like .like-bottom ul li {
  border-right: 1px dashed #eee;
  width: 199px;
  height: 224px;
  margin-top: 20px;
  float: left;
}
.you_may_like .like-bottom ul li a:hover p {
  color: #f5004a;
}
.you_may_like .like-bottom ul li img {
  display: block;
  height: 120px;
  width: 120px;
  margin-left: 58px;
}
.you_may_like .like-bottom ul li p {
  margin: 0 0 0 20px;
  color: #5e5e5e;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  width: 167px;
  height: 36px;
  margin: 32px 0 20px 20px;
  cursor: pointer;
}
.you_may_like .like-bottom ul li span {
  color: #ff0027;
  line-height: 16px;
  height: 16px;
  margin: 0px 0 0 20px;
  font-size: 16px;
}

/*<!--必买清单-->*/
.must_buy_wrap {
  margin-top: 40px;
  padding: 20px 0 30px 0;
  width: 100%;
  height: auto;
  background: #f7f7f7;
  float: left;
}

.must_buy {
  height: auto;
}
.must_buy .buy_title h3 {
  display: inline;
  font-size: 18px;
  line-height: 38px;
  color: #333;
}
.must_buy .buy_title span {
  margin-right: 12px;
  float: right;
}
.must_buy .buy_title span a {
  font-size: 12px;
  margin-top: 12px;
  color: #888;
  display: block;
}
.must_buy .must_buy_left {
  display: inline-block;
  float: left;
}
.must_buy .must_buy_left ul li {
  float: left;
  margin-right: 12px;
  background: #fff;
  width: 306px;
  padding-bottom: 20px;
}
.must_buy .must_buy_left ul li div:first-child {
  width: 306px;
  height: 180px;
}
.must_buy .must_buy_left ul li div:first-child img {
  width: 100%;
}
.must_buy .must_buy_left ul li div:last-child {
  padding: 0 20px 0 20px;
}
.must_buy .must_buy_left ul li div:last-child a:nth-child(1) {
  color: #000000;
  display: block;
  font-size: 16px;
  line-height: 28px;
  height: 28px;
  margin: 14px 0 7px;
  overflow: hidden;
  word-break: break-all;
}
.must_buy .must_buy_left ul li div:last-child a:nth-child(2) {
  color: #5e5e5e;
  display: block;
  font-size: 12px;
  line-height: 18px;
  height: 54px;
  margin-bottom: 17px;
  overflow: hidden;
}
.must_buy .must_buy_left ul li div:last-child a:hover {
  color: #f70073;
}
.must_buy .must_buy_right {
  width: 246px;
  display: inline-block;
  float: right;
}
.must_buy .must_buy_right div:nth-child(2) {
  background: #fff;
  padding: 0 15px 23px 15px;
}
.must_buy .must_buy_right div:nth-child(2) div:nth-child(1) {
  width: 216px;
  padding-top: 15px;
}
.must_buy .must_buy_right div:nth-child(2) div:nth-child(2) {
  line-height: 18px;
  padding: 15px 0 12px;
  border-bottom: 1px dashed #e6e6e6;
  margin-bottom: 14px;
  overflow: hidden;
  white-space: nowrap;
}
.must_buy .must_buy_right div:nth-child(2) div:nth-child(2) p:first-child {
  color: #a5a5a5;
  font-size: 12px;
  line-height: 18px;
  float: left;
  overflow: hidden;
  margin-bottom: 3px;
}
.must_buy .must_buy_right div:nth-child(2) div:nth-child(2) p:first-child span {
  float: left;
  background: #ff7612;
  border-radius: 2px;
  padding: 0 3px;
  color: #fff;
  vertical-align: 1px;
}
.must_buy .must_buy_right div:nth-child(2) div:nth-child(2) p:first-child a {
  color: #333;
  float: left;
  font-size: 14px;
  margin: 0 15px 0 5px;
}
.must_buy .must_buy_right div:nth-child(2) div:nth-child(2) p:last-child {
  float: left;
  color: #a5a5a5;
  font-size: 12px;
  line-height: 18px;
  overflow: hidden;
  margin-bottom: 3px;
}
.must_buy .must_buy_right div:nth-child(2) p a {
  color: #5E5E5E;
  display: block;
  height: 22px;
  line-height: 22px;
  overflow: hidden;
}
.must_buy .must_buy_right div:nth-child(2) p a:hover {
  color: #f70073;
}

/*<!--楼梯-->*/
#LoutiNav {
  position: fixed;
  top: 25%;
  left: 40px;
  width: 66px;
  border: 1px solid;
  text-align: center;
}
#LoutiNav ul li {
  width: 66px;
  height: 44px;
  position: relative;
  list-style: none;
  text-align: center;
  line-height: 30px;
  font-size: 12px;
  cursor: pointer;
  border-bottom: 1px dotted #AAAAAA;
}
#LoutiNav ul li li.last {
  background: darkred;
  color: white;
  border-bottom: none;
}
#LoutiNav ul li li.last span {
  line-height: 22px;
  display: block;
}
#LoutiNav li:hover {
  background: darkred;
  color: white;
}

.Lou_guang {
  margin-top: 20px;
}

.stairs {
  overflow: hidden;
  width: 100%;
}
.stairs .mt {
  height: 38px;
  padding-top: 32px;
  border-bottom: 1px solid #719ef7;
}
.stairs .mt .mtTop {
  width: 210px;
  height: 38px;
  overflow: hidden;
  float: left;
  line-height: 38px;
  font-size: 20px;
}
.stairs .mt .tab {
  float: right;
  margin-top: 8px;
  max-width: 790px;
  height: 30px;
  overflow: hidden;
  position: relative;
}
.stairs .mt .tab li {
  float: left;
}
.stairs .mt .tab li a {
  font-size: 14px;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  color: #5e5e5e;
  display: inline-block;
}
.stairs .mc {
  height: 470px;
  position: relative;
}
.stairs .mc .mc_l {
  height: 470px;
  width: 210px;
  float: left;
  position: relative;
}
.stairs .mc .mc_l .mc_l_img {
  display: block;
  background: #fff;
}
.stairs .mc .mc_l .mc_l_img img {
  margin-left: -10px;
  display: block;
  width: 220px;
  height: 278px;
}
.stairs .mc .mc_l .KeyAll {
  height: auto;
  width: 210px;
}
.stairs .mc .mc_l .KeyAll .channel {
  width: 210px;
  min-height: 32px;
}
.stairs .mc .mc_l .KeyAll .channel .channel_inner {
  width: 180px;
  margin-left: 15px;
  margin-right: 15px;
  overflow: hidden;
}
.stairs .mc .mc_l .KeyAll .channel .channel_inner li {
  width: 180px;
  height: 32px;
  line-height: 32px;
}
.stairs .mc .mc_l .KeyAll .channel .channel_inner li a, .stairs .mc .mc_l .KeyAll .channel .channel_inner li span {
  display: inline-block;
  font-size: 14px;
  color: #f0f0f0;
  float: left;
}
.stairs .mc .mc_l .KeyAll .channel .channel_inner li span {
  padding: 0 5px;
}
.stairs .mc .mc_l .KeyAll .keywords {
  height: 160px;
  width: 210px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.stairs .mc .mc_l .KeyAll .keywords li {
  height: 28px;
  line-height: 28px;
}
.stairs .mc .mc_l .KeyAll .keywords li a {
  display: inline-block;
  color: #f0f0f0;
  height: 20px;
}
.stairs .mc .mc_l .KeyAll .keywords li a:hover {
  text-decoration: underline;
}
.stairs .mc .mc_l .KeyAll .keywords ul:nth-child(1) {
  width: 50px;
  height: 137px;
  float: left;
  overflow: hidden;
  margin: 8px 0 15px 15px;
}
.stairs .mc .mc_l .KeyAll .keywords ul:nth-child(2), .stairs .mc .mc_l .KeyAll .keywords ul:nth-child(3) {
  height: 137px;
  width: 37px;
  float: left;
  overflow: hidden;
  margin: 8px 0 15px 10px;
}
.stairs .mc .mc_l .KeyAll .keywords ul:nth-child(3) {
  width: 73px;
  margin: 8px 15px 15px 10px;
}
.stairs .nav {
  position: absolute;
  bottom: 121px;
  left: 50%;
  text-align: center;
  margin-left: -40px;
  width: 81px;
  height: 16px;
}
.stairs .nav li {
  width: 18px;
  height: 10px;
  display: inline-block;
  margin-left: 3px;
  float: left;
}
.stairs .nav li a {
  display: block;
  width: 18px;
  height: 4px;
  background: #fff;
  opacity: .6;
  margin-top: 3px;
}
.stairs .mc_main {
  width: 990px;
  height: 470px;
  position: absolute;
  right: 0;
  top: 0;
  background: #fff;
}
.stairs .mc_main .slider_page {
  display: none;
}
.stairs .mc_main:hover .slider_page {
  display: block;
}
.stairs .mc_main .main_inner {
  float: left;
}
.stairs .mc_main .main_inner li {
  float: left;
  width: 198px;
  height: 235px;
  overflow: hidden;
}
.stairs .mc_main .main_inner li a {
  width: 197px;
  height: 234px;
  display: block;
  overflow: hidden;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.stairs .mc_main .main_inner li a img {
  display: block;
  width: 130px;
  height: 130px;
  margin: 20px 0 15px 34px;
}
.stairs .mc_main .main_inner li a .p_name, .stairs .mc_main .main_inner li a .p_price {
  width: 157px;
  height: 36px;
  margin-left: 20px;
  overflow: hidden;
  line-height: 18px;
  font-size: 12px;
}
.stairs .mc_main .main_inner li a .p_name {
  color: #5e5e5e;
}
.stairs .mc_main .main_inner li a .p_price {
  height: 20px;
  line-height: 26px;
  color: #ff0027;
  font-size: 14px;
}
.stairs .mc_c {
  overflow: hidden;
  float: left;
  position: relative;
  width: 389px;
  height: 470px;
}
.stairs .mc_c .brand_slider {
  width: 372px;
  height: 102px;
  left: 10px;
  bottom: 10px;
  position: absolute;
  overflow: hidden;
  cursor: pointer;
}
.stairs .mc_c .brand_slider ul {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
}
.stairs .mc_c .brand_slider ul li {
  width: 122px;
  height: 50px;
  float: left;
  margin: 0 0 1px 1px;
  opacity: .9;
  background: #fff;
}
.stairs .mc_c .brand_slider ul li img {
  display: block;
  width: 100px;
  height: 30px;
  margin: 10px 0 0 11px;
}
.stairs .mc_r {
  width: 601px;
  height: 470px;
  float: left;
  overflow: hidden;
}
.stairs .mc_r .mc_r_inner li {
  width: 200px;
  height: 235px;
  float: left;
}
.stairs .mc_r .mc_r_inner li a {
  display: block;
  height: 234px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.stairs .slider_page span.prev, .stairs .slider_page span.next {
  display: block;
  width: 30px;
  height: 60px;
  z-index: 101;
  position: absolute;
  top: 0;
  background: url(../img/ui2.png);
}
.stairs .slider_page span.prev {
  background-position: -84px -136px;
}
.stairs .slider_page span.next {
  background-position: -84px -74px;
}
.stairs .slider_page .slider_up, .stairs .slider_page .slider_down {
  display: block;
  width: 30px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
}
.stairs .slider_page .slider_down {
  right: 0;
}
.stairs .slider_page .slider_prev, .stairs .slider_page .slider_next {
  display: block;
  width: 30px;
  height: 60px;
  background: #000;
  opacity: .25;
  position: absolute;
  top: 0;
}
.stairs .Louti4 .mc .mc_main {
  width: 1080px;
}
.stairs .Louti4 .mc .mc_c {
  width: 479px;
}
.stairs .Louti4 .mc .mc_l {
  width: 120px;
}
.stairs .Louti4 .mc .mc_l .mc_l_img img {
  width: 130px;
}
.stairs .Louti4 .mc .mc_l .KeyAll .channel {
  position: absolute;
  bottom: 150px;
  width: 120px;
}
.stairs .Louti4 .mc .mc_l .KeyAll .channel ul li {
  float: none;
}
.stairs .Louti4 .mc .mc_l .KeyAll .keywords {
  width: 120px;
  height: 150px;
}
.stairs .Louti4 .mc .mc_main:first-child {
  width: 1080px;
}
.stairs .Louti4 .mc .mc_main:first-child .mc_main_content .mc_c {
  width: 479px;
}

/*1F*/
/*2F*/
/*3F*/
/*4F*/
/*5F*/
/*6F*/
/*7F*/
/*8F*/
/*9F*/
/*10F*/
/*<!--热销榜-->*/
/*<!--帮助-->*/
#help {
  overflow: hidden;
  margin: 15px auto 0;
}
#help > ul {
  background: #f5f5f5;
  padding: 15px 0;
  overflow: hidden;
}
#help > ul li {
  float: left;
  width: 33%;
  text-align: center;
}
#help > ul li a {
  line-height: 40px;
  font: 700 18px/37px Arial,"Microsoft YaHei";
  color: #404040;
}
#help > ul li a i {
  display: inline-block;
  width: 40px;
  height: 42px;
  background: url(../img/ui.png);
  background-position-x: 0%;
  background-position-y: 0%;
  vertical-align: middle;
  margin-right: 10px;
}
#help > ul li a i.icon-pz {
  background-position: 0 -1469px;
}
#help > ul li a i.icon-dj {
  background-position: -40px -1469px;
}
#help > ul li a i.icon-sd {
  background-position: -80px -1469px;
}
#help > ul li .foot-titlt-dot {
  width: 3px;
  height: 10px;
  margin: 0 16px;
  color: #ccc;
  display: inline-block;
  background: url(../img/ui.png);
  background-position-x: 0%;
  background-position-y: 0%;
  vertical-align: middle;
  background-position: -120px -1489px;
}
#help > ul li a.sec-title {
  font-weight: 400;
}
#help .gome-help-box {
  width: 110%;
  margin-left: -5%;
  overflow: hidden;
}
#help .gome-help-box dl {
  float: left;
  width: 9%;
  padding: 15px 0 0 125px;
  white-space: nowrap;
  display: inline;
}
#help .gome-help-box dl dt {
  font: 16px/25px Arial,"Microsoft YaHei";
  color: #5e5e5e;
}
#help .gome-help-box dl ul {
  background: #fff;
  padding: 0;
  overflow: hidden;
}
#help .gome-help-box dl ul li {
  float: none;
  width: 100%;
  text-align: left;
}
#help .gome-help-box dl ul li a {
  font: 12px/22px Arial,"Microsoft YaHei";
  color: #a5a5a5;
  padding: 0;
}

/*<!--底部-->*/
.foot-wrap {
  border-top: 1px solid #dd00a7;
  background: #f7f7f7;
  margin-top: 15px;
  overflow: hidden;
  margin-top: 15px;
}

.foot {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0 0;
}
.foot .clearfix::after, .foot .wbox::after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.foot a {
  color: #999;
}
.foot p {
  font: 12px/22px Arial;
  color: #999;
}
.foot span {
  display: inline-block;
  padding: 0 50px 40px 0;
}
.foot span p {
  margin-left: 10px;
  font: 12px/20px Arial,"Microsoft YaHei";
  float: left;
  width: 210px;
  overflow: hidden;
  height: 45px;
}
.foot span p strong {
  color: #333333;
  display: block;
  font: 400 16px/25px Arial,"Microsoft YaHei";
}
.foot span i {
  display: block;
  width: 45px;
  height: 45px;
  background: url(../img/ui.png) 0 -135px;
  float: left;
}
.foot span span.ued i {
  background-position: -45px -135px;
}
.foot .qrcode-section {
  position: absolute;
  right: -10px;
  top: 15px;
  font-size: 0;
}
.foot .qrcode-section em.code-sm {
  width: 50px;
  margin: 0 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.foot .qrcode-section em.code-bg {
  width: 110px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  position: relative;
}
.foot .qrcode-section em i {
  display: block;
  width: 40px;
  height: 25px;
  background: url(../img/ui.png);
}
.foot .qrcode-section em div i.icon-triangle {
  position: absolute;
  height: 8px;
  width: 13px;
  left: 68px;
  background: url(../img/ui.png) -67px -127px !important;
  top: 100%;
}
.foot .qrcode-section em.wx i {
  background-position: -105px -135px;
}
.foot .qrcode-section em.app i {
  background: none;
  width: 90px;
  height: 90px;
}
.foot .qrcode-section em.app p {
  width: 90px;
}
.foot .qrcode-section em.wap i {
  background-position: -185px -135px;
}
.foot ul {
  overflow: hidden;
}
.foot ul li {
  float: left;
  font: 12px/22px Arial,"Microsoft YaHei";
  padding: 0 13px 0 0;
  color: #ccc;
  white-space: nowrap;
}
.foot .gome-foot-credit {
  border-top: 1px solid #e6e6e6;
  margin-top: 5px;
  padding: 10px 0 25px;
  _height: 100%;
  overflow: hidden;
}

/*<!--侧边栏-->*/
.sidebar {
  width: 35px;
  height: 100%;
  position: fixed;
  background: #5c5c5c;
  top: 0;
  right: 0;
}

.sidebar li {
  background: url(../img/ui.png) no-repeat center bottom;
  font-size: 12px;
  text-align: center;
}

.sidebar li a {
  display: block;
  height: 38px;
}

.sidebar .side-top {
  position: absolute;
  display: block;
  top: 71px;
  text-align: center;
}

.side-top li span {
  color: #fff;
  display: block;
  margin: 12px;
  width: 12px;
}

.icon-user i {
  width: 28px;
  height: 18px;
  position: absolute;
  text-align: center;
}

.side-top .icon-user {
  background-position: -18px -1024px;
}

.side-bottom {
  position: absolute;
  bottom: 10px;
}

/*# sourceMappingURL=index.css.map */
