@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
body, button, input, select, textarea {
    font: 12px/12px arial,Microsoft YaHei;
}
body{
    width: 100%;
}
img{
    vertical-align: middle;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
b,h1,h2,h3,h4,h5,h6,em,i{
    font-size: 12px;
    font-style:normal; 
    font-weight:normal;
}
.wrapbox{
    width: 1200px;
    margin: 0 auto;
}
i{
    background-image: url(../img/ui.png);
}
.left{
    float: left;
}
.right{
    float: right;
}

@mixin pub($w,$h){
    width: $w;
    height: $h;
}
.here{
    position: absolute;
    top: -1px;
    right: -91px;
    width: 88px;
    cursor: pointer;
    font: 600 16px/30px Mircosoft YaHei;
    height: 32px;
    border: 2px solid #5a5a5a;
    background: #5a5a5a;
    color: #fff;
}

//导航
.shop-nav-wrap{
    width: 100%;
    background: #ec3839 ;
    height: 40px;
    .shop-nav{
        ul{
            li{
                float: left;
                text-align: center;
                a{
                    color: #fff;
                    height: 40px;
                    padding: 0 20px;
                    display: block;
                    font: 16px/40px "microsoft yahei";
                    position: relative;
                }
            }
        }
    }
}

.sp-bread-wrap{
    background-color: #f6f6f6;
    margin-bottom: 16px;
    height: 42px;
    position: relative;
    z-index: 501;
    .sp-bread{
        .left{
             ul{
                padding: 8px 6px;
                display: inline-block;
                li{
                    float: left;
                    display: inline-block;
                    vertical-align: middle;
                    position: relative;
                    z-index: 31;
                    a{
                        font-size: 12px;
                        color: #5e5e5e;
                        display: inline-block;
                        vertical-align: middle;
                        padding: 4px 6px 4px 8px;
                    }
                    i{
                        background: url(../img/bg-sprite.png) 0 0;
                        display: inline-block;
                        vertical-align: middle;
                        width: 7px;
                        height: 11px;
                        margin: 0 2px;
                    }
                }
            }
        }
        .right{
            >div{
                padding: 12px 0;
                overflow: hidden;
                >span{
                    color: #fff;
                    background-color: #e3101e;
                    padding: 0 4px;
                    font-size: 12px;
                }
            }
            i{
                width: 22px;
                height: 19px;
                display: inline-block;
                margin-right: 5px;
                background: url(../img/bg-sprite.png) 0 -167px;
            }
            .icon-collect{
                height: 15px;
                
                background-position: 0 -100px;
            }
            a{
                line-height: 22px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 20px;
                font-size: 13px;
                color: #5e5e5e;
            }
            
           
        }
    }
}

//放大镜

.main-info{
    width: 1200px;
    margin: 0 auto;
    color: #5e5e5e;
    .main-left{
        width: 450px;
        //放大镜
        
        .prd{
            position: relative;
            .pic-big{
                width: 448px;
                height: 448px;
                border: 1px solid #D9D9D9;
                z-index: 30;
                overflow: hidden;
                
            }
            #big{
                z-index: 999;
                width: 450px;
                height: 450px;
                border: 1px solid #D9D9D9;
                position: absolute;
                left: 450px;
                top: 0;
                overflow: hidden;
                display: none;
                img{
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            #mask{
                width:200px;
                height:200px;
                background:#eee;
                opacity:0.4;
                /*background: url(images/4m.jpg);*/
                position:absolute;
                top:0;
                left:0;
//              display:none;
            }
            .pic-list{
                height: 62px;
                position: relative;
                margin: 20px 0 16px;
                ul{
                    width: 99999px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    li{
                        width: 60px;
                        height: 60px;
                        margin-right: 25px;
                        float: left;
                        padding: 2px;
                        border: 1px solid #fff;
                        img{
                            display: block;
                            vertical-align: top;
                            padding: 1px;
                        }
                    }
                    .borderRed{
                        border: red 1px solid;
                    }
                }
            }
            
        }
        .toolbar{
            width: 450px;
            position: relative;
            span{
                width: 135px;
                line-height: 18px;
                float: left;
            }
            a{
                color: #5e5e5e;
                margin-left: 12px;
                line-height: 18px;
                float: right;
                display: block;
                position: relative;
                text-decoration: none;
            }
            i{
                display: inline-block;
                width: 16px;
                height: 15px;
                background: url(../img/bg-sprite.png) no-repeat;
            }
        }
    }
    .main-right{
        @include pub(720px,521px);
        h1{
            width: 610px;
            font-size: 16px;
            line-height: 26px;
            color: #5e5e5e;
            font-weight: 600;
            word-wrap: break-word;
            word-break: break-all;
        }
        h4{
            width: 610px;
            font-size: 12px;
            line-height: 20px;
            color: #e3101e;
            overflow: hidden;
            word-wrap: break-word;
            word-break: break-all;
            a{
                color: #069;
                overflow: hidden;
            }
        }
        .sp-price{
            width: 690px;
            padding: 20px 10px 0 20px;
            background: #f6f6f6;
            position: relative;
            .price-inner{
                line-height: 34px;
                padding-bottom: 18px;
                span:nth-child(2){
                    display: inline-block;
                    font-family: Arial;
                    font-size: 24px;
                    color: #e3101e;
                    font-weight: 700;
                    margin-right: 10px;
                    em{
                        font-size: 16px;
                        margin-right: 2px;
                        font-style: normal;
                    }
                }
                >a{
                    line-height: 34px;
                    color: #069;
                }
                >div{
                    height: 33px;
                    line-height: 12px;
                    float: right;
                    .line{
                        display: inline-block;
                        font-size: 32px;
                        line-height: 32px;
                        color: #ccc;
                        margin-right: 3px;
                    }
                    .lineright{
                        display: inline-block;
                        p{
                            line-height: 12px;
                        }
                        a{
                            margin-top: 9px;
                            color: #069;
                        }
                    }
                }
            }
        }
        
        .addr{
            padding-left: 86px;
            position: relative;
            color: #333333;
            margin: 10px 0;
            >span:first-child {
              position: absolute;
              top: 0;
              left: 0;
              color: #666666;
            }
            >div {
              display: inline-block;
              margin-right: 20px;
              height: 18px;
              width: auto;
              padding: 0 17px 0 5px;
              border: 1px solid #CCCCCC;
              position: relative;
              cursor: pointer;
                >span {
                  position: absolute;
                  top: 7px;
                  right: -5px;
                  display: block;
                  border-top: 4px solid #666666;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                }
                .location {
                  position: absolute;
                  left: 0;
                  width: 440px;
                  height: auto;
                  border: 1px solid #CCCCCC;
                  background: white;
                  z-index: 9;
                  overflow: hidden;
                  cursor: default;
                  display: none;
                    .provinceWarp {
                      width: 420px;
                      height: 30px;
                      margin-top: 10px;
                      margin-left: 10px;
                      border-bottom: 1px solid #CCCCCC;
                        >li {
                          width: 58px;
                          height: 29px;
                          border: 1px solid #CCCCCC;
                          float: left;
                          padding: 0 5px;
                          margin-right: -1px;
                          text-align: center;
                          line-height: 30px;
                          font-size: 12px;
                          background: #FFFFFF;
                          cursor: pointer;
                        }
                        
                        .setstyle {
                          font-weight: bold;
                          border-top: 2px solid #E31436;
                          border-bottom: none;
                          line-height: 28px;
                        }
                    }
                    .content {
                      width: 400px;
                      padding: 0 20px;
                      margin: 10px 0;
                        ul {
                          overflow: hidden;
                          height: 100%;
                          display: none;
                            li {
                              min-width: 55px;
                              height: 30px;
                              font-size: 12px;
                              font-weight: normal;
                              line-height: 28px;
                              float: left;
                                >a {
                                  cursor: pointer;
                                  text-align: center;
                                  display: inline-block;
                                  padding: 0 5px;
                                  height: 26px;
                                  color: #333333;
                                  border: 1px solid transparent;
                                  text-decoration: none;
                                  &:hover {
                                      color: #E31436;
                                      border-color: #E31436;
                                    }
                                }
                            }
                        }
                        ul:first-of-type {
                          display: block;
                        }
                    }
                }
            }
            span{
                margin-right: 10px;
            }

        }
        .service {
            margin: 10px 0;
          padding-left: 86px;
          position: relative;
          color: #333333;
            > span:first-child {
              position: absolute;
              top: 0;
              left: 0;
              color: #666666;
            }
            
            p:nth-of-type(1) {
              font-size: 12px;
            }
            p:nth-of-type(1) > a {
              color: #e31436;
              margin: 0 10px;
            }
            .serviceImg {
              margin-top: 10px;
              margin-left: 10px;
              position: relative;
            }
            .serviceImg {
              margin-top: 10px;
              margin-left: 10px;
              position: relative;
                > span {
                  width: 60px;
                  border-top: 1px solid #CCCCCC;
                  position: absolute;
                  top: 13px;
                }
                > span:nth-of-type(1) {
                  left: 35px;
                  border-color: #333333;
                }
                > span:nth-of-type(2) {
                  left: 137px;
                }
            }
            .serviceImg > img {
              width: 28px;
              height: 28px;
              margin-right: 72px;
              
            }
            > div:nth-of-type(2) {
              margin-top: 10px;
                > span:not(:nth-of-type(2)) {
                  margin-right: 30px;
                }
                > span:nth-of-type(2) {
                  max-width: 75px;
                  display: inline-block;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  vertical-align: bottom;
                }
                > span {
                  font-size: 12px;
                }
            }
            div:last-of-type {
              font-size: 12px;
              margin-top: 10px;
            }
            div:last-of-type > font {
              color: #333;
              font-weight: bold;
            }
        }
    }
}
.main-right .pCount {
  padding-left: 86px;
  margin-top: 5px;
  position: relative;
  color: #333333;
  overflow: hidden;
}
.main-right .pCount > span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  color: #666666;
}
.main-right .pCount > div > a {
  display: inline-block;
  width: 22px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #CCCCCC;
  text-decoration: none;
  text-align: center;
}
.main-right .pCount > div > a:first-of-type {
  border-right: none;
}
.main-right .pCount > div > a:last-of-type {
  border-left: none;
}
.main-right .pCount > div > input {
  width: 28px;
  height: 22px;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #333333;
  border: 1px solid #CCCCCC;
  padding: 0 5px;
  vertical-align: bottom;
}
.main-right .pCount > div > span {
  margin-left: 10px;
  font-size: 12px;
}
.main-right .explain {
  padding-left: 86px;
  margin-top: 5px;
  position: relative;
  color: #333333;
  overflow: hidden;
}
.main-right .explain > span:first-child {
  position: absolute;
  top: 0;
  left: 0;
  color: #666666;
}
.main-right .explain > div > span {
  font-size: 12px;
  color: #666;
  padding: 0 5px 0 16px;
  position: relative;
  margin-right: 5px;
}
.main-right .explain > div > span > i {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/support.ede6c07.png) no-repeat;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
}
.main-right .explain > div > span:first-of-type:hover {
  cursor: pointer;
  text-decoration: underline;
}
.main-right .buy {
  margin-top: 15px;
  margin-left: -10px;
}
.main-right .buy div > a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
.main-right .buy > div:first-of-type {
  display: inline-block;
  width: 156px;
  height: 56px;
  border: 2px solid #d41c44;
  background: #ffeced;
  line-height: 56px;
  font-size: 18px;
  margin-right: 20px;
}
.main-right .buy > div:first-of-type > a {
  color: #d31b44;
}
.main-right .buy > div:nth-of-type(2) {
  display: inline-block;
  width: 160px;
  height: 60px;
  background: #e31436;
  line-height: 60px;
  font-size: 18px;
  margin-right: 30px;
}
.main-right .buy > div:nth-of-type(2) > a {
  color: #FFFFFF;
}
.main-right .buy > a {
  display: inline-block;
  padding: 0 5px 0 20px;
  position: relative;
  color: #6f6f6f;
  font-size: 14px;
}
.main-right .buy > a > i {
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 14px;
  height: 16px;
  background: url(../img/xin.png) no-repeat;
  background-size: cover;
}
.main-right .buy .evaluate {
  margin-top: 10px;
  vertical-align: middle;
}
.main-right .buy .evaluate > li {
  float: left;
  margin-right: 10px;
  font-size: 16px;
  vertical-align: middle;
}
.main-right .buy .evaluate > span {
  line-height: 26px;
}
.main-right .buy .evaluate > span i {
  cursor: pointer;
  color: #333333;
  font-style: normal;
}
.main-right .buy .evaluate > span i:hover {
  text-decoration: underline;
}


.gome-bar-box{
    position: fixed;
    top: 0;
    right: -240px;
    width: 240px;
    height: 100%;
    background: #f8f8f8;
    box-shadow: 0 0 18px rgba(0,0,0,.09);
}

#gomo-bar-border{
    position: fixed;
    width: 35px;
    height: 100%;
    top: 0;
    right: 0;
    background: #5c5c5c;
    z-index: 998;
    b{
        background: url(../img/ui.png)  -47px -464px;
        display: inline-block;
        width: 7px;
        height: 11px;
    }
    i{
        background: url(gmpro/1.0.0/public/1.0.0/css/i/ui.png) no-repeat ;
        display: inline-block;
        width: 28px;
        height: 18px;
        margin-top: 9px;
    }
    ul{
        a{
            color: #fff;
        }
        position: absolute;
        right: 0;
        width: 35px;
        li{
            height: 36px;
            font-size: 12px;
            background: url(../img/uiline.png) no-repeat center bottom;
            &:hover{
                background: #343434;
            }
        }
        li.gomo-btn-member{
            height: 39px;
            line-height: 39px;
            i{
                background-position: -18px -1025px;
            }
        }
        li.gomo-btn-cart{
            height: 120px;
            color: #fff;
            i{
                background-position: -24px -1046px;
            }
        }
        .text{
            width: 12px;
            display: inline-block;
            color: #fff;
        }
        li.gomo-btn-coupon{
            
        }
        li.gomo-btn-favorites{
            height: 38px;
        }
    }
}
